---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview shadow-sm">
  <div class="p-4">
    <header>
      <a href={post.url}>
        <h1 class="text-xl font-medium text-primary">
          {post.frontmatter.title}
        </h1></a
      >
    </header>
    <p class="text-xs py-1 font-medium text-orange-500">
      {post.frontmatter.publishDate}
    </p>
    <p class="h-">{post.frontmatter.description}</p>
  </div>
  <div class="">
    <a href={post.url}>
      <button class="px-6 rounded-sm text-white py-2 my-2 bg-orange-500">
        Read more</button
      >
    </a>
  </div>
</article>
